html, body {
    margin: 0;
    height: 100%;
    background-color: rgba(30, 30, 30, 0);
}
#pic{
    max-height: 20em;
    max-width: 100%;
    margin: .5em auto;
    display: block;
}
button{
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    margin: .5em;
}
button:hover {background-color: #3e8e41}
section{
    border: 2px solid rgb(47, 47, 47);
    display: flex; /* or inline-flex */
    flex-direction: column;
    text-align: left;
}
article{
    width: 50%;
    background-color: rgba(45, 45, 48, 0.5);
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
}

label {
    color: #44c7b0;
    display: block;
}
input, select, textarea{
    color: #c7c2c2;
    box-sizing: border-box;
    border: 2px solid #424242;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    height: 2em;
}
textarea{
    height: 10em;
    width: 100%;
    resize: vertical; min-height: 5em;
}
textarea:focus, input:focus {
    color: #c7c2c2;
}
form{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px;
}
input:not(:placeholder-shown):invalid {
    border: 2px dashed red;
}
input:not(:placeholder-shown):valid{
    border: 2px solid #68217a;
}
input[type=file]{
    display: none;
}

.selectFile{
    font-weight: bold;
    color: #44c7b0;
}
.selectFile:hover{
    font-weight: bold;
    color: #4298d6;
}
.fileUpload{
    height: 5em;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 131, 73, 0.15);
    border: rgba(206, 131, 73, 0.5) dashed 0.1em;
    border-radius: 1em;
}
.fileUpload-small{
    display: inline-block;
}
.fileUpload-small .selectFile {
    padding: 0.5em;
    width: 10em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;
}
.fileUpload-small:hover .selectFile {background-color: #3e8e41}
.fileUpload-small span:not(.selectFile){
    display: none;
}
.fileUpload:hover{
    background-color: rgba(206, 131, 73, 0.25);
}

.fileUpload-dragOver {
    background-color: rgba(206, 131, 73, 0.25);
}
.input-output{
    border: 2px solid #424242;
    border-radius: 4px;
    padding: .5em;
    text-align: center;
}
.removeButton{
    padding: .5em .6em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c40d0d;
    border: none;
    border-radius: 15px;
    margin: .5em;
}
.removeButton:hover{
    background-color: #9A0A0AFF;
}
.updateButton{
    padding: .5em .6em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    margin: .5em;
}
.updateButton:hover{
    background-color: #3e8e41;
}