
.big_box {
    width: 100%;
    text-align: center;
    margin-left: 5px;
    margin-top: 160px;
    position: absolute;
}
#boxone {
    width: 49.5%;
    float: left;
    border: 1px solid black;
}

#boxtwo {
    width: 49.5%;
    float: left;
    border: 1px solid black;

}
.clear {
    clear: both
}

h1 {
    text-align: left;
    margin-left: 5px;
    margin-top: 90px;
    position: absolute;
    color: #44c7b0;
}

p {
    color: #c7c2c2;
}


