#information{
    display: flex;
    flex-direction: column;
}
.big_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 160px;
}
#boxone {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: rgba(45, 45, 48, 0.5);
}

#boxtwo {
    width: 50%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(45, 45, 48, 0.5);
}

h1 {
    margin-top: 90px;
    text-align: left;
    color: #44c7b0;
}

p {
    color: #c7c2c2;
    padding: 2px;
}


