.orangeKeyWords{
    color: #cc7832;
    font-weight: bold;
}
.purpleKeyWords{
    color: #966f96;
    font-weight: bold;
}
.yellowKeyWords{
    color: #e7be6a;
    font-weight: bold;
}
.greenKeyWords{
    color: #a3ba4d;
    font-weight: bold;
}