@font-face {
    font-family: logoFont;
    src: url(../fonts/VeraMono.ttf);
}

.orangeKeyWords{
    color: #cc7832;
    font-family: logoFont;
}
.purpleKeyWords{
    color: #966f96;
    font-family: logoFont;
}
.yellowKeyWords{
    color: #e7be6a;
    font-family: logoFont;
}
.greenKeyWords{
    color: #a3ba4d;
    font-family: logoFont;
}