.login-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
}

.login-box {
    width: 200px;
    height: 200px;
    background-color: #2d2d30;
    border-radius: 8px;
    text-align: center;
    margin-top: 260px;
    box-shadow: 0px 0px 13px 5px rgba(157, 22, 224, 0.5);
}

.form-input {
    background-color: #2d2d30;
    border: solid 1px #c7c2c2;
    color: #c7c2c2;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

#project {
    margin-top: 20px;
}


