#projectbox{
    background-color: rgba(0, 0, 0, 0);
}
.pic{
    float: left;
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 200px;
    margin: 10px;
    border-radius: 8px;
}
.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    height: 1.2em;
    white-space: nowrap;
    margin-left: 10px;
}
.desc{
    text-align: left;
    margin-top: 10px;
}
.sec{
    border-bottom: 2px solid rgb(157, 22, 224);
}
.sectwo {
    display: flex; /* or inline-flex */
    flex-direction: row;
}
.projectHeader {
    color: #44c7b0;
    margin: auto;
    margin-left: 60px;
}
/* unvisited link */
.projectLink a:link {
    color: #4298d6;
}

/* visited link */
.projectLink a:visited {
    color: rgb(104,33,122);
}

/* mouse over link */
.projectLink a:hover {
    color: #44c7b0;
}

/* selected link */
.projectLink a:active {
    color: blue;
}
.artic{
    background-color: rgba(45, 45, 48, 0.5);
    width: 42%;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-top: 35px;
    margin-left: 80px;
    color: #c7c2c2;
    max-width: 1200px;
}

.title {
    color: #44c7b0;
    margin: 10px;
    display: inline-block;
    font-size: 1.2em;
}
.screenShots{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    overflow: auto;
    white-space: nowrap;
    overflow-x: hidden;
    width: 95%;
}
.screenShot{
    margin: .2em;
    max-height: 5em;
    display: inline-block;
}
.buttonBox{
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
}
button{
    z-index: 10;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    width: 2em;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(114, 114, 114, 0.2);
}
@media screen and (max-width: 1050px) {
    #projectbox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .artic{
        width: 80%;
        background-color: rgba(45, 45, 48, 0.5);
        border-radius: 5px;
        padding: 2px;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
    }
}

/* light theme alkaa */
#light-projectbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
}
.light-pic{
    float: left;
    width: 40%;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
}
.light-desc{
    text-align: left;
    color: #66666c;
    margin-top: 10px;
}
.light-sec{
    border-bottom: 2px solid rgb(22, 116, 224);
    display: flex; /* or inline-flex */
    flex-direction: row;
}
.light-artic{
    width: 42%;
    background-color: rgba(242, 242, 242, 0.5);
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    margin-top: 35px;
    margin-left: 80px;
}

.light-title {
    color: #05a24b;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light-sectwo{
    display: flex; /* or inline-flex */
    flex-direction: row;
}
@media screen and (max-width: 1050px) {
    #light-projectbox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .light-artic{
        width: 80%;
        background-color: rgba(242, 242, 242, 0.5);
        border-radius: 5px;
        padding: 2px;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
    }
}

.editButton{
    float: right;
    padding: .5em .6em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    margin: .5em;
}
.editButton:hover{
    background-color: #3e8e41;
}

.innerTitle{
    border-bottom: 2px solid rgba(153, 153, 153, 0.47);
    display: block;
    font-size: .9em;
}
