@font-face {
    font-family: normalText;
    src: url(../fonts/Poppins-Light.ttf);
}

.socials-box {
    display: grid;
    width: 100%;
    margin-top: 80px;
    padding: 0px;
    place-items: center;
    background-color: #2d2d30;
    font-family: normalText;
}
.email {
    margin-bottom: 20px;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper .social-button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.6);
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(30, 30, 30, 0.3);
    cursor: pointer;
    transition:  all .3s ease-out;
}
.wrapper .social-button:hover {
    width: 200px;
}

.wrapper .social-button .social-icon {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .social-button:nth-child(1):hover .social-icon{
    background: #44c7b0;
    color: white;
}
.wrapper .social-button:nth-child(2):hover .social-icon{
    background: #44c7b0;
    color: white;
}
.wrapper .social-button:nth-child(3):hover .social-icon{
    background: #44c7b0;
    color: white;
}
.wrapper .social-button:nth-child(4):hover .social-icon{
    background: #44c7b0;
    color: white;
}

.wrapper .social-button .social-icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .social-button span {
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 10px;
}

.wrapper .social-button:nth-child(1) span {
    color: #c7c2c2;
}
.wrapper .social-button:nth-child(2) span {
    color: #c7c2c2;
}
.wrapper .social-button:nth-child(3) span {
    color: #c7c2c2;
}
.wrapper .social-button:nth-child(4) span {
    color: #c7c2c2;
}

@media (max-width: 380px) {
    .wrapper .social-button {
        width: 45px;
        height: 45px;
        line-height: 30px;
    }

    .wrapper .social-button .social-icon i {
        font-size: 20px;
        line-height: 45px;
        margin-left: -14px;
    }
    .wrapper .social-button .social-icon {
        line-height: 45px;
    }
}